<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body th:fragment="navbar(activeMenu)">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-semibold" th:href="@{/}">Board</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link"-->
<!--                       th:classappend="${activeMenu}=='post' ? 'active' : ''"-->
<!--                       th:href="@{/post}">게시판</a>-->
<!--                </li>-->
<!--            </ul>-->

            <div class="d-flex align-items-center gap-2">
                <div sec:authorize="isAnonymous()" class="d-flex gap-2">
                    <a class="btn btn-outline-light btn-sm" th:href="@{/loginForm}">로그인</a>
                    <a class="btn btn-warning btn-sm" th:href="@{/signup}">회원가입</a>
                </div>

                <div sec:authorize="isAuthenticated()" class="d-flex align-items-center gap-2">
<!--                    <span class="text-light small" th:text="${#authentication.principal.getClass().name}"></span>-->

                    <span class="text-light small">
                    <span th:text="${#authentication.principal.nickname}"></span>님
                    </span>

                    <form th:action="@{/logout}" method="post" class="m-0">
                        <button class="btn btn-outline-light btn-sm" type="submit">로그아웃</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</nav>
</body>
</html>
